body {
	background: #eee;
	margin: 0 auto;
	/*overflow: hidden;*/
	text-align: center;
}

#palette{
	background: rgba(173,223,175,0.3);
	height: 40px;
	position: absolute;
	width: 100%;
	z-index: 3;
}

.button{
	background: white;
	border: 0;
	margin-top: 10px;
}

.paper{
	background: white;
	box-shadow: 0 0 15px #999;
	display: inline-block;
	margin: 50px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}
